{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="col-sm-8">
		<div class="d-flex justify-content-center mt-4">
			<a class="h1" href="/" style="color: inherit">\(\overrightarrow{\lambda ambda}\)</a>
		</div>
		<div class="d-flex justify-content-center">
			[<a href="/">Home</a>] [<a href="/playground">Playground</a>] [<a href="/help">Help</a>] [<a
				href="/about">About</a>]
		</div>

		<div class="d-flex justify-content-center mt-4">
			<div class="input-group mb-3">
				<input id="input" type="text" class="form-control" placeholder="query...">
				<div class="input-group-append">
					<button id="go" class="btn btn-primary" role="button" onclick="query()">go</button>
				</div>
			</div>
		</div>

		<div id="declarations">
			<p>
				<b>Declarations</b> [<a href="javascript:addDeclaration();">Add</a>]
			</p>
			<div class="card d-none">
				<table class="table table-sm table-bordered mb-0" style="border-style: hidden;">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Name</th>
							<th scope="col" style="width: 100%;">Input</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>

		<div id="extras">
			<h2 class="mt-4">Functions</h2>
			<div class="row">
				<div class="col">
					<div class="card h-100">
						<div id="lin-alg" class="card-body">
							<a class="card-title h5" href="/help#lin-alg">Linear algebra</a>
							<p id="commands">...</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100">
						<div id="multivar-calc" class="card-body">
							<a class="card-title h5" href="/help#multivar-calc">Multivariable calculus</a>
							<p id="commands">...</p>
						</div>
					</div>
				</div>
			</div>

			<p class="text-right mt-4"><a href="/help">See more &#8594;</a></p>
		</div>
		
		{% block query_content %} {% endblock %}
	</div>
</div>

<script>
	$(document).ready(() => {
		["eigenvectors", "null space", "inverse", "row reduce", "matrices", "vectors"].forEach((command) => {
			$('#lin-alg #commands').prepend(`
<a href="/help#lin-alg">${command}</a>, 
			`);
		});
		["circulation", "divergence", "curl", "graph"].forEach((command) => {
			$('#multivar-calc #commands').prepend(`
<a href="/help#multivar-calc">${command}</a>, 
			`);
		});
	});

	function query() {
		if ($('#input').val().trim().length > 0) {
			let params = `?i=${$('#input').val()}`;
			$('.declaration-row').each((i, e) => {
				let name = $(e).find('.declaration-name').html().trim();
				let input = $(e).find('.declaration-input').html().trim();

				if(name.length == 0 || input == 0) {
					console.log('invalid declaration');
					return;
				}

				params += `&${name}=${input}`;
			});
			console.log(params)
			window.location = `/query${params}`;
		}
	}

	function addDeclaration(name, input) {
		$('#declarations .card').removeClass('d-none');
		$('#declarations table tbody').append(`
<tr class="declaration-row">
	<td>
		<button type="button" class="close float-left" onclick="removeDeclaration(this);">&times;</button>
	</td>
	<td class="declaration-name" contenteditable="true">${name || ''}</td>
	<td class="declaration-input" contenteditable="true">${input || ''}</td>
</tr>
		`);
		$('#declarations table tbody tr:last-child .declaration-input').each((i, e) => {
			initDeclarationInput(e);
		});
	}

	function initDeclarationInput(element) {
		$(element).keypress((event) => rerender(event));
		$(element).focusout(() => rerender(event));

		let rerender = (event) => {
			if(event.keyCode == 13) {
				//$(element).html('\\(' + $(element).html() + '\\)');
				event.preventDefault();
				//renderMathInElement(element);
			}
		}
	}

	function removeDeclaration(element) {
		$(element).parent().parent().remove();
		if ($('.declaration-row').length == 0) {
			$('#declarations .card').addClass('d-none');
		}
	}
</script>
{% block query_script %} {% endblock %}
{% endblock %}